*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: linear-gradient(to left, #F2e205, #EAF205);

}

html {
  scroll-behavior: smooth;
}


.app {

  min-height: 100vh;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  min-height: 60vh;
}


.ProjectButton {
  
  outline:none;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  background-color: transparent;

}

.Arrow {
  width: 8%;
  height: auto;
  transform: rotate(90deg)
}

.ProjectContainerDiv{
  position: relative;
  bottom: -60vh;
}

.ProjectButtonDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: -10vh;
  color:black;
  text-decoration: none;
}

.projectCard {
  display: flex;
  position: relative;
  left: 10%;
  top: 2%;
  min-height: 30vh;
  width: 75%;
  background: linear-gradient(
    to right bottom,
    rgba(255,255,255,0.7),
    rgba(255,255,255,0.3)
  );
  border-radius: 2rem;
  margin: 2rem 0rem;
  padding: 2rem 0rem
}

.video-js{
  position: relative;
  left: 3%;
  border-radius: 1rem;
  outline: none;
}

.projectText{
  position: relative;
  left:7%
}

.links{
  display: flex;
  position: absolute;
  top: 90%;
  /* margin: 2rem 0rem */
  /* padding: 1rem 0rem */
  padding: .5vw
}

a {
  padding: 0rem .5rem
}

/* li{
  list-style-type: none;
} */