*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: linear-gradient(to right top, #F2e205, #EAF205); */
  /* background: #EAF205; */
}

body {
    background: linear-gradient(to right top, #F2e205, #EAF205);

}

html {
  scroll-behavior: smooth;
}

/* main {
  min-height: 100vh;
} */

.app {
  /* background-color: #F2E205; */

  min-height: 100vh;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  min-height: 60vh;
}


.ProjectButton {
  
  outline:none;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  background-color: transparent;

}

.Arrow {
  /* display: flex; */
  width: 8%;
  height: auto;
  transform: rotate(90deg)
}

.ProjectContainerDiv{
  position: relative;
  /* background: linear-gradient(to right top, #F2e205, #EAF205); */
  bottom: -60vh;
}

.ProjectButtonDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: -10vh;
  color:black;
  text-decoration: none;
}