

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
    background: linear-gradient(to left, #F2e205, #EAF205);
    /* font-size:2vw; */

}

html {
  scroll-behavior: smooth;
}


.app {

  min-height: 100vh;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:5vw;
}

.title {
  display: flex;
  min-height: 50vh;
}


.ProjectButton {
  
  outline:none;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  background-color: transparent;

}

.Arrow {
  height: 12vh;
  width: auto;
  /* transform: rotate(90deg) */
}

.DownloadIcon{
  height: 12vh;
  width: auto;
}

.ProjectContainerDiv{
  position: relative;
  bottom: -40vh;
}

.ProjectButtonDiv{
  position: relative;
  color:black;
  text-decoration: none;
  width: 30%;
  font-size: 2.5vw;
  font-style: normal;
}

.firstContactDiv{
  width: 30%;
  position: relative;
  color:black;
  text-decoration: none;
  font-size: 2.5vw;
}

.resumeButtonDiv{
  width: .2vw;
  position: relative;
  color:black;
  text-decoration: none;
  font-size: 2.5vw;

}

.navDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color:black;
  text-decoration: none;
  left: -5%;
  top:10vh;
}

.projectCard {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  position: relative;
  width: 90%;
  height: auto;
  background: linear-gradient(
    to right bottom,
    rgba(255,255,255,0.5),
    rgba(255,255,255,0.0)
  );
  border-radius: 2rem;
  margin: 5vh 2vh;
  padding: 1vw 1vw;
  text-overflow: ellipsis;
}

.video-js{
  position: relative;
  left: -4%;
  border-radius: 1rem;
  margin:1vh 2vh;
  padding: 0rem 0rem;
  outline: none;
  width:40%;
  height: 80%;
  color: #fff;
  background-color: #000;
}




.projectText{
  position: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh 1vh;
  padding: 0rem 0rem;
  font-size:1.4vw;
}


@media screen and (max-width: 800px) {
  .video-js {
    width: 95%;
    left: 0%;
  }
  .projectText{
    font-size:3.5vw;
  }
  .firstContactDiv{
    font-size: 2.7vw;
    padding: 5vw 5vw;
    margin: 5vw 5vw;
  }
  .Arrow {
    width: 15vw;
    margin: 5vw 1vw;
    padding: 3vw 0vw;
  }
  .DownloadIcon{
    width: 15vw;
    margin: 5vw 1vw;
    padding: 3vw 0vw;
  }
  .ProjectButtonDiv{
    columns: 100px 1;
  }
  .navDiv{
    flex-flow: wrap;
    columns: 100px 1;
    top:-4vh;
  }

}

.links{
  display: flex;
  position: absolute;
  margin: .5rem 0rem;
}

a {
  padding: 0rem .5rem
}

.contactButtonDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: -50vh;
  outline:none;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  background-color: transparent;
  color:black;
  text-decoration: none;
  padding:2rem;
  font-size: 2.5vw;
}

.infoDiv{
  position: relative;
  align-items: center;
  justify-content: center;
  bottom: -70vh;
  padding:2rem 3rem;
  margin: 2rem 3rem;
  background: linear-gradient(
    to right bottom,
    rgba(255,255,255,0.5),
    rgba(255,255,255,0.0)
  );
  border-radius: 2rem;
}

.contactDiv{
  margin: 2rem 0rem;
  position: relative;
  align-content: flex-start;
}

.dummy {
  position: relative;
  bottom: -80vh;
  padding: 5rem
}

.linkedin {
  padding: 0;
}

.knowledge{
  padding: 1rem 0rem
}

.description{
  display:flex;
  max-width: 58vh;
}